
.header69{
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: black !important;
}

.li80s{
    background-color: darkgrey;

}

.iframecontainer{
    position: relative;
    width: 50%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframecontainer iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .lfont{
    font-style: italic;
    text-align: left;
    font-weight: normal;
}
.bold{font-weight: bold;}
