
.header69{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke !important;
    font-size: 100px;
}

.li80s{
    background-color: darkgrey;
    margin-left: 20px;
    margin-right: 20px;

}

.body80{
    background-image: url(../img/galaxy.jpg);
}
.anchor{
    background-color: #cccccc;
    border: 2px solid white;
    font-family: initial !important;
}

.listlfont{
    font-style: italic;
    text-align: center;
    font-weight: normal;
    background-color: white;
    border: 1px solid black;
}
